<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
 <body>
	        <div class="span10">
	            <!--Body content--><br>
	            <h1>My Team</h1>
	                <ul>
	                	<%= link_to "Team Information", '/teams/team_information' %>
	                	<%= link_to "Event Information", '/events/my_event_information' %>
	                	<%= link_to "Level List", '/sport_levels/sport_level_list' %>
	                </ul>
	        </div>

