<h1>Sport Level Home!</h1>

  <%= link_to "Guidence", {:controller => "sport_levels", :action => "guidence", :sport_level_id => @sport_level_id} %>
  <%= link_to "Video", '/sport_levels/video', :sport_level_id => @sport_level_id %>
