<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
 <body>
	<div class="span10">
	            <!--Body content--><br>
	           <h1>My Class</h1>
	           		<ul>
	           			<%= link_to "Team List", '/teams/team_information_list' %>
	           			<%= link_to "Score Board", '/teams/score_list' %>
	           			<%= link_to "News Feed", '/pe_classes/news_list' %>
	           			<%= link_to "Play List", '/musics/music_list' %>
	           		</ul>
	</div>
  </body>
</html>