<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja-JP" xml:lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="ja" />
  <meta name="robots" content="all" />
  
  <title> The Active Generation | Recreation Re-envisioned. </title>
  
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta http-equiv="imagetoolbar" content="no" />
  
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="UTF-8"></script>
  <script src="https://raw.github.com/xlune/jQuery-vGrid-Plugin/master/jquery.vgrid.min.js" type="text/javascript" charset="UTF-8"></script>
  <%= javascript_include_tag "jquery.hoverexpand.js" %>
  <%= javascript_include_tag "jquery.easing.1.3.js" %>
  <%= javascript_include_tag "modernizr-transitions.js" %>

  <style type="text/css">
    /*<![CDATA[*/
    body {
      margin: 0;
      background-color: black;
      letter-spacing: 1px;
    }
    #site-nav {
      width: 100%;
      min-height: 70px;
      float: none;
      background-color: rgba(0, 0, 0, 0.9);
      position: relative;
      z-index: 20;
    }

    #site-nav h1 {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 0.8em;
      padding-top: 10px;
    }

    #site-nav h1 a { color: #D26; }
    #site-nav h1 a:hover { color: #A2C; }

    #site-nav h2 {
      font-family: "Cabin"; 
      font-size: 20px;
      font-weight: normal;
      color:white;
      position: absolute;
      left:120px;
      top:20px;
    }

    #site-nav ul {
      list-style: none;
      padding-left: 0;
      font-size: 12px;
    }

    #site-nav li {
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
    }

    #site-nav li a {
      display: block;
      padding: 3px 5px;
    }

    #site-nav li.current {
      background: #C8C5C2;
    }

    #site-nav li.current a { color: white; }
    #site-nav li.current a:hover { color: #D26; }

    #site-nav li ul { 
      margin-bottom: 0;
    }

    #site-nav li li {
      font-size: 11px;
      line-height: 1.4em;
    }

    #site-nav li li a {
      padding-left: 15px;
    }

    #site-nav li.selected li a {
      padding: 3px;
      background: none;
    }

    #site-nav li.selected li a:hover {
      color: #D26;
    }
    #site-nav div.logo {
      width:20%;
      margin-top: -2.5%;
    }
    #students {
      background-image: url(/assets/Dargie-2b.png);
      background-repeat: no-repeat;
      background-color: black;
      background-size: 90% 100%;
      background-position: right;
      box-shadow: 2px 3px 18px #5E2612;
      width:100%;
      height: 90%;
      letter-spacing: normal;
      text-shadow: none;
      margin-bottom: 50px;
      overflow: hidden;
    }
    #students h1, h2 {
      font-family: "Cabin";
      margin: 2px; 
      font-weight: normal;
      color: black;
      text-shadow: none;
    }
    #redcircle {
      z-index: 1000;
      background-color: rgba(255,0,0,0.8);
      height: 650px;
      width: 650px;
      text-align: left;
      color: white;
      border-radius: 650px;
      margin: 0;
      margin-left: -12%;
      margin-top: -5%;
      margin-bottom: -8%;
      box-shadow: 2px 3px 18px #5E2612;
    }
    fieldset {
          border:0;
          position: absolute;
          right: 0%;
          top:12%;
          width:30%;
          text-align: right;
        }
        .login {
          font-family:'Gill Sans'; 
          font-size: 12px; 
          font-weight: normal;
          line-height: 16px; 
          padding: 2px;
          margin-top: -13px;
        }
        .btn-login {
          display: inline;
          *display: inline;
          padding: 5px;
          margin-bottom: 0;
          *margin-left: .3em;
          font-size: 80%;
          line-height: 90%;
          text-align: left;
          font-weight: normal;
          text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
          vertical-align: middle;
          cursor: pointer;
          background-image: -ms-linear-gradient(top, #F0AB02, #F09638);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F0AB02), to(#F09638));
          background-image: -webkit-linear-gradient(top, #F0AB02, #F09638);
          background-image: -o-linear-gradient(top, #F0AB02, #F09638);
          background-image: linear-gradient(top, #F0AB02, #F09638);
          background-image: -moz-linear-gradient(top, #F0AB02, #F09638);
          background-repeat: repeat-x;
          border: 1px solid #000000;
          *border: 0;
          -webkit-border-radius: 4px;
             -moz-border-radius: 4px;
                  border-radius: 4px;
          *zoom: 1;
        }

    .row {
      width: auto;
      padding: 2%;
      margin-left: 10%;
      margin-top: 0;
      min-height: 575px;
      margin-bottom: 30px;
    }

    [class*="span"] {
      float: left;
    }

    .span4 {
      width: 80%;
      padding: 5px;
      margin-left: 12%;
      padding-right: 0;
      padding-bottom: 3px;
      margin-top: 60px;
      float: none;
    }
    .span4 h1 {
      font-size: 20px;
      font-weight: lighter;
      font-family: 'Copse';
      color: white;
      line-height: 20px;
      letter-spacing: 1.2px;
      margin-top: 5px;
      margin-bottom: 8px;
      text-shadow: 0.1em 0.1em 0.2em black;
    }
    .best_day {

    }
    .span3 {
      width:100%;
      float: left;
      padding-left: 15px;
      padding-top: 0;
      margin-right: 10px;
      text-align: left;
      margin-left: 12%;
    }
    .span3 h4 {
      font-size: 17px;
      font-family: 'Cabin';
      font-weight: bold;
      text-transform: uppercase;
      margin: 10px 0 10px 0;
    }
    .span3 h2 {
      font-size: 12px;
      font-weight: normal;
      color: white;
      line-height: 12px;
      letter-spacing: 1.5px;
    }
    .span3 p {
      font-family: 'Cabin';
      font-size: 17px;
      font-weight: normal;
      line-height: 17px; 
      padding: 2px;
      margin: 0;
    }
    .span3 img {
      width: 30%;
      float: left;
      vertical-align: middle;
      border: 0;
      padding-left: 10px;
      margin-right: 10px;
      -ms-interpolation-mode: bicubic;
    }
    .span2c {
      width: 15%;
      padding-left: 10px;
      margin-top: -44px;
      height: 10%;
    }
    .span2d {
      width: 17%;
      padding-left: 10px;
      margin-top: -30px;
    }
    .span2e {
      width: 20%;
      padding-left: 10px;
      margin-top: -30px;
    }
    .span2c h2, p, .span2d h2, p, .span2e h2, p {
      font-family: 'Cabin';
      font-size: 15px;
      font-weight: normal;
    }
    .span2d h6, .span2e h6 {
      margin-top: 20px;
      font-family: "Copse";
      font-weight: bold;
      font-size: 50px;
      color: rgba(88,88,88,0.6);
    }
    .span1c-next {
      width: auto;
      background-color: #FF9500;
    }

    .span1c-next h2 {
      font-size: 13px;
      font-weight: bold;
      color: black;
      text-align: right;
      padding-left: 10px;
      padding-right: 15px; 
      font-family: "Copse";
    }
    .best_day {
      height: auto;
      width: auto;
      background-image: -ms-linear-gradient(top, #585858, #000000);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#585858), to(#000000));
      background-image: -webkit-linear-gradient(top, #585858, #000000);
      background-image: -o-linear-gradient(top, #585858, #000000);
      background-image: linear-gradient(top, #585858, #000000);
      background-image: -moz-linear-gradient(top, #585858, #000000);
      background-repeat: repeat-x;
      border: 1px transparent #000000;
      *border: 0;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
    }
    .best_day h2 {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 20px;
      margin-top: 5px;
      font-family: "Copse";
      font-size: 15px;
      line-height: 15px;
      color: white;
      font-weight: normal;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    }
    .best_day h6 {
      margin: 0;
      text-align: center;
      font-family: "Copse";
      font-size: 50px;
      color: #F0AB02;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
      margin-top: -20px;
    }
    .best_day hr {
      border: 0;
      margin: 0;
      margin-left: 35px;
      color: black;
      background-color:  rgba(0,0,0,0.7);
      height: 3px;
    }

    @media (min-width: 460px) and (max-width: 639px) {
      #container {
        height: 300px;
      }
    }

    @media (min-width: 640px) and (max-width: 767px) {
      #container {
        height: 375px;
      }
      #site-nav {
        width: auto;
        position: relative;
        left: auto;
        top: auto;
        padding-top: 0px;
        height: auto;
        margin-bottom: 20px;
      }
    }

    @media (min-width: 768px) and (max-width: 979px) {
      #container {
        height: 415px;
      }
    }

    @media (min-width: 980px) and (max-width: 1079px) {
      #container {
        height: 490px;
      }
    }

    @media (min-width: 1080px) and (max-width: 1199px) {
      #container {
        height: 525px;
      }
    }

    @media (min-width: 1200px) {
      #container {
        height: 550px;
      }
    }
  </style>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#hotspot-2").click(function(){
        $("div #hotspot-1").replaceWith( "<div id=hotspot-1b>")
      });
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#hotspot-3").click(function(){
        $(this).animate({height:"250px", width:"250px"}, 50);
      }, function() {
        $(this).animate({height: '150px', width:"150px"}, 50);
      });
    });
  </script>
</head>
  <body>
    <nav id="site-nav" style="height:14%;padding-bottom:0.5%;">
        <div id="logo">
               <img src="/assets/Logo_Copse_8-09.png" style="width:8%; position:absolute;left:1.5%;margin-top:-15px;">
               <h2>Making P.E. Fun!</h2>
        </div>
        <div class="depot_form">
          <form accept-charset="UTF-8" action="/" method="post"><div style="margin:0;padding:0;display:inline;"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="Tg1HHle64YylYwBMn1GEOuGCEh5jPy+lNt9Ib8p9DYU="></div>
            <fieldset>
              <input class="login" id="username" name="username" placeholder="Username" type="text"><input class="login" id="password" name="password" placeholder="Password" type="password"><br>
              <input class="btn-login" name="commit" type="submit" value="Login">
            </fieldset>
          </form>
        </div>
    </nav> <!-- #site-nav -->
    <div id="students">
      <div id="redcircle">
          <div id="profile">
              <div class="row">
                <div class="span4">
                  <h1><strong>PeetaD12</strong><span style="font-family: 'Quicksand';text-shadow:'0 0.05em 0 #ffffff';"> | Log Out </span></h1>
                </div>
                <div class="span3">
                  <img alt="TAG" src="/assets/Avatar_Cycler.png">
                  <h4>MY DASHBOARD</h4>
                  <p>TEAM: <strong>EVERDEEN</strong></p>
                  <p>Partner: Jared M.</p>
                  <p>TAG Points:</p>
                  <p><a class="btn" href="#">recommended activity &raquo;</a></p>
                  <p><a class="btn" href="#">watch skill videos &raquo;</a></p>
                </div>
          </div>
      </div>
      <div id="hotspot-2">MY CLASS</div>
    </div>
  </body>
</html>