<div class="container-fluid hero">
    <div class="row">
            <div>
                <h1>Gym Class Re-envisioned.</h1>
                <h2>Higher Accountability. <em>Way More Fun.</em></h2>
                <p><span>The Active Generation</span> is giving students the ability to set goals &amp; track their own physical activity, a teammate to encourage their success, and mentorship to help them aspire for greatness!</p>
                
            </div>
        <!-- for when you have a video
        <div id="video">
            <iframe src="http://player.vimeo.com/video/46856767?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
    -->

        <button class="btn">Register Now</button>
    </div>
</div>
<div class="container">
    <div class="row">    
        <div id="students">
            <div id="redcircle">
                <h2>FOR STUDENTS, TAG OFFERS:</h2>
            </div>
            <div id="blackcircle"> </div>
        </div>
            <div id="programdetails">
            <h1>THE PROGRAM:</h1>
            <h2 style="font-size:17px;text-align:center;">Take your TAG ALONG, connect it your computer and upload your points directly to the site:</h2>
                <table style="margin-top:10px;margin-left:35px;">
                    <tr>
                        <td width="15%" valign="middle"  align="center" style="margin:0;">
                           <img src="/assets/pedometer.png" style="height:40%;padding-left:5px;">
                           <h2 style="valign:bottom">TAG ALONG, VERSION 1.0</h2>
                        </td>
                        <td width="14%" valign="middle" align="center" style="margin:0;">
                          <img src="/assets/cord.png" style="height:18%;padding-left:5px;">
                        </td>
                    <td width="30%" valign="bottom" align="center" style="margin:0;width:20%;">
                      <img src="/assets/iMAC-frame.png" style="height:40%;margin-bottom:-55%;">
                      <div id="myCarousel" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                          <div class="active item"><img src="/assets/dashboard_shot1.png"></div>
                          <div class="item">…</div>
                          <div class="item">…</div>
                        </div>
                      </div>
                      <h2 style="margin-left:-3px; margin-top:100px;margin-bottom:20px;">TAG PORTAL</h2>
                    </td>
                  </tr>
                </table>
            <h1 style="padding-bottom:10px;">THE MENTORS:</h1>
            <div id="mentors">
              <img src="/assets/erin_headshot.png" style="width:150px;margin-right:40px;">
              <img src="/assets/erin_headshot.png" style="width:150px;margin-right:40px;">
              <img src="/assets/erin_headshot.png" style="width:150px;margin-right:40px;">
              <img src="/assets/erin_headshot.png" style="width:150px;">
              <button>Browse Our Mentor Gallery</button>
          </div>
        </div>
        
        <div id="press">
          <div style="display:inline-block;width:30%;">
            <%= image_tag('sponsors.png') %>
            <h3><i>Summer 2012 Incubatee</i></h3>
          </div>
          <div style="display:inline-block;width:40%;padding-left:20px;valign:top;">
            <h2>LEARN MORE:</h2>
            <img src="/assets/SocialChangeIs.png" style="height:30%; padding-top:10px;padding-left:35px;">
            Our founders are contributors for SocialChange.is! Check out their articles to learn more about TAG's development journey.
          </div>
        </div>
    </div>
</div>    
   
   