<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
 <body>
		<div class="span10">
	            <!--Body content--><br>
	           <h1>Events</h1>
	           	<ul>
				  <%= link_to "Search", '/games' %>
				  <%= link_to "Event List", '/funs/my_fun_list' %>
				  <%= link_to "News", '' %>
				</ul>
			</div>
		  </div>
		</div>
	  </div>
	</div>
 </body>
</html>
