<h1>Listing Funs by user</h1>

  <% @user_funs.reverse.each do |user_fun| %>
     <%= user_fun.user.firstname %>.<%= user_fun.user.lastname %> reigster "<%= user_fun.fun.name %>" -- <%= user_fun.created_at %></br>
  <% end %>
