<h1>Student Information</h1>

  <div><%= @team.name %></div>
  <div><%= @teammate.firstname + "." + @teammate.lastname %></div>
  <div><%= @team.event.sport.name %></div>
  <div><%= @team.sport_level.name %></div>
