/* Main Styles */
@import "mixins";

body {
	background-image: image-url('noise.png');
	background-color: #F7F7F7;
}

#header {
	background-color: white;
	background-image: image-url('noise.png');
	height:55px;
	//@include box-shadow(inset 0 -29px 63px -4px rgba(0, 0, 0, 0.6), 0 1px 4px #C7C7C7);
	border-bottom: 1px solid rgba(152, 174, 180, 0.76);	
	
	#logo {
		width: 70px;
		display: inline-block;
		height: 58px;
		position: relative;
		top: 5px;
	}
	ul {
		display:inline-block;
		position: relative;
		top: 8px;
		margin: 0 0 0 25px;
		li {
			display:inline;
			margin-right:15px;
			a {
				color: #383632;
				font-weight: bold;
				//text-shadow: 0 1px black;
			}
		}
	}
	#login {
		float:right;
		margin-top:15px;
		position:relative;

		form {
			margin-bottom:0;
		}
		input {
			&.input-text {
				width:120px;
			}
		}
		.error {
			color:red;
			position:absolute;
		}
	}
}

.hero {
	background: image-url('runners-blurd2.jpg') no-repeat;
	background-position: 50% 30%;
	background-size:100%;

	.row {
		width:960px;
		margin: 0 auto;
		color:white;
		text-align:center;
		text-shadow: 0 1px #050505;
		padding:160px 0;
		
		h1 {
			font-size:65px;
			margin-bottom: 40px;
		}
		h2 {
			font-size: 40px;
			margin-bottom: 25px;
		}
		p {
			font-size: 16px;
			width: 74%;
			line-height: 24px;
			margin: 0 auto 25px;
			
			span {
				color:#FC0;
				font-style:italic;
			}
		}
		.btn {
			padding: 20px 80px;
			font-size: 24px;
			font-weight: bold;
			@include gradient(#F8D416, #EC9804);
			color: #694C17;
		}
		iframe {
			margin: 50px;
			box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.16);
		}
	} 
}

