/* Main Styles */
@import "mixins";

body {
	background-image: image-url('noise.png');
	background-color: #E0E0E0;
	text-shadow:0 1px white;
}
.wrapper {
	width:960px;
	margin: 0 auto;
}

#header {
	background-color: white;
	background-image: image-url('noise.png');
	height:55px;
	border-bottom: 1px solid rgba(152, 174, 180, 0.76);
	position: relative;
	z-index: 1;
	@include box-shadow(0px 1px 8px rgba(0, 0, 0, 0.2));	
	
	#logo {
		width: 70px;
		display: inline-block;
		height: 58px;
		position: relative;
		top: 5px;
	}
	ul {
		display:inline-block;
		position: relative;
		top: 8px;
		margin: 0 0 0 25px;
		li {
			display:inline;
			margin-right:15px;
			a {
				color: #707070;
				font-weight: bold;
				font-size:12px;

			}
		}
	}
	#login {
		float:right;
		margin-top:15px;
		position:relative;

		form {
			margin-bottom:0;
		}
		.btn {font-weight:bold;}
		input {
			&.input-text {
				width:120px;
			}
		}
		.error {
			color:red;
			position:absolute;
		}
	}
}

.hero {
	background: image-url('runners-blurd2.jpg') no-repeat;
	background-position: 50% 70%;
	background-size:120%;
	box-shadow: inset 0 0px 237px 160px rgba(226, 247, 162, 0.65), inset 0 -2px 17px rgba(0, 0, 0, 0.27);
	border-bottom: 1px solid white;

	.row {
		width:960px;
		margin: 0 auto;
		color:white;
		text-align:center;
		text-shadow: 0 1px #050505;
		padding:160px 0;
		
		h1 {
			font-size:65px;
			margin-bottom: 25px;
		}
		h2 {
			font-size: 40px;
			margin-bottom: 25px;
			color:#D6FF00;
		}
		p {
			font-size: 20px;
			width: 70%;
			line-height: 28px;
			margin: 0 auto 25px;
			
			span {
				color:#B4DF00;
				font-style:italic;
			}
		}
		.btn {
			padding: 20px 80px;
			font-size: 24px;
			font-weight: bold;
			@include gradient(#FF4700, #EC3C04);
			color: #68240C;
			text-shadow: 0 -1px #F1814C;

			&:hover {
				@include gradient(lighten(#FF4700, 3%), lighten(#EC3C04, 3%));
			}
		}
		iframe {
			margin: 50px;
			box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.16);
		}
	} 
}

#features {
	margin: 50px 0;
	overflow:auto;
	h3 {
		font-size:24px;
		margin-bottom:15px;
		position: relative;
		border-bottom: 1px solid #ACACAC;
		padding-bottom: 5px;
		width: 90%;
		box-shadow: 0 1px 0 white;
		
		i {
			font-size: 28px;
			margin-right: 15px;
			position: relative;
			top: 3px;
			color:#7A7C85;
			&.icon-plus {
				position:absolute;
				font-size: 13px;
				top: -3px;
				left: 18px;
				margin: 0;
			}
		}
	}
	p {width:90%}
}

#press {
	background-image: image-url('noise.png');
	background-color: #F2F2F7;
	margin:0px auto;
	img {
		margin-top:20px;
		width:180px;
		opacity:.5;
	}
	p {
		color: #B1B1B1;
		margin-left: 20px;		
	}
}

