#header #hgroup, #nav-inner, .wrap-outer .wrap-inner, .sticky #nav-inner ul  {
    width: 960px;
    margin: 0 auto;
}
#header { background: #7f7f7f; }
#header #hgroup { background: #c1c1c1; }
#nav { background: #000; }
#nav-inner { background: #595959; }
.wrap-outer { background: #7f7f7f; }
.wrap-outer .wrap-inner {background: #fff;}
#header #hgroup {
    padding: 20px;
    width: 920px;
}
#nav {
    height: 40px;
    position: relative;
}
.sticky #nav-inner  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#nav a {
    display: block;
    padding: 12px;
    color: #fff;
}
#nav a.link-active { color: yellow; }
#nav li { float: left;     }
.wrap-outer .wrap-inner {
    width: 940px;
    padding: 40px 10px 100px 10px;
}
#nav .wrap-inner { padding: 0; }
#nav #back-top { background:#333; padding:10px;}

​