<!DOCTYPE html>
<html>
  <head>
    <title>The Active Generation</title>
    <link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
